mixin services-nav()
	.services-nav
		.services-nav__header Навигация по категориям услуг:
		.services-nav__subheader Кликните на интересующую Вас категорию или используйте прокрутку.

		.services-nav-services
			.services-nav-element.services-nav-element--complex-wash
				.services-nav-element__image
				.services-nav-element__text Комплекс. мойка
			.services-nav-element.services-nav-element--body-wash
				.services-nav-element__image
				.services-nav-element__text Мойка кузова
			.services-nav-element.services-nav-element--dry-cleaning
				.services-nav-element__image
				.services-nav-element__text Химчистка
			.services-nav-element.services-nav-element--additional-services
				.services-nav-element__image
				.services-nav-element__text Доп. услуги
