include ../main-header/main-header
include ../main-subheader/main-subheader
include ../skill/skill
include ../skills-modal-contents/skills-modal-contents
mixin section-skills()
	SECTION.section-skills
		+skills-modal-contents()
		+main-header("Круглосуточная мойка")
		+main-subheader("Услуги")
		.section-skills__container
			- const text = "Наши специалисты позаботятся о чистоте Вашего автомобиля"
			+skill("Мойка кузова", text, 300, "1s", 'body-wash')
			+skill("Химчистка салона", text, 800, "2s", 'dry-cleaning')
			+skill("Наномойка", text, 450, "3s", 'nano-wash')
			+skill("Доп. услуги", text, 300, "4s")
