include ../main-header/main-header
include ../main-subheader/main-subheader
include ../skill/skill
mixin section-skills()
	SECTION.section-skills
		+main-header("Круглосуточная мойка")
		+main-subheader("Что мы умеем")
		.section-skills__container
			+skill("Мойка кузова", "Наши квалифицированные специалисты как следует позаботятся о чистоте Вашего автомобиля", 100, "1s")
			+skill("Химчистка салона", "Наши квалифицированные специалисты как следует позаботятся о чистоте Вашего автомобиля", 100, "2s")
			+skill("Наномойка", "Наши квалифицированные специалисты как следует позаботятся о чистоте Вашего автомобиля", 100, "3s")
			+skill("Устранение запаха", "Наши квалифицированные специалисты как следует позаботятся о чистоте Вашего автомобиля", 100, "4s")
