.section-skills
	overflow hidden
	background-color #fff
	section-padding()

	&__container
		display flex
		flex-wrap wrap
		max-width 1400px
		margin 0 auto

		@media screen and (max-width: 1200px)
			max-width 800px
