mixin header-footer()
	.header-footer
		.header-footer-work-hours(title="C 7:00 до 01:00 (В любое другое время по предварительной записи)")
			a(href="./contacts.html#address").header-footer-work-hours__text Круглосуточно*
			.header-footer-work-hours__icon
		.header-footer-social
			.header-footer-social__text Мы в социальных сетях:
			.header-footer-social__icons
				a(href="http://instagram.com").header-footer-social__icon.header-footer-social__icon--instagram
				a(href="https://vk.com/moyka_su").header-footer-social__icon.header-footer-social__icon--vk
		a(href="mailto:moyka.su@rambler.ru").header-footer-mail
			.header-footer-mail__icon
			.header-footer-mail__address moyka.su@rambler.ru
