// Select component styles

$select-black-color = alpha($main-color, 95%)

.select-custom
	border-bottom 1px solid alpha(#fff, 20%)

	&.is-open
		.Select-arrow-zone
			&:hover
				.Select-arrow
					border-bottom-color #eee
			.Select-arrow
				border-bottom-color #eee

				&:hover
					border-bottom-color #fff

	.Select-control
		background-color $select-black-color
		border none
		border-radius 0

		.Select-placeholder
			color #fff

		.Select-arrow-zone
			&:hover
				.Select-arrow
					border-top-color #eee
			.Select-arrow
				border-top-color #eee

				&:hover
					border-top-color #fff

	&.is-open
		.Select-control
			background-color $select-black-color

	&.is-disabled
		.Select-control
			background-color $select-black-color !important

			.Select-input
				color #000

	.Select-input
		color #fff

// Checkbox component styles

.service-unit-element__checkbox
	margin-right 12px
	position static !important

	input
		width 100%
		height 100%
		display block

	.rc-checkbox-inner
		background #CECECE
		size(20px)
		border-radius 0
		border 0

		&:hover
			border none

		&::after
			top 3px
			left 6px

	&.rc-checkbox-checked
		.rc-checkbox-inner
			&::after
				top 3px
				left 6px

// in-development block styles

.in-development
	position relative
	height 360px
	display flex
	align-items center
	justify-content center

	&__text
		font-size 24px
		color $main-dark-color
		position absolute
		font-family RobotoCondensedBold
		top 10px
		left 10px
		z-index 1

	&__image
		size(289px, 301px)
		image-bg('in-development.png')
		margin 0 auto
		margin-bottom -60px
		filter grayscale(100%)

// ReactTable component styles

.react-numeric-input
	z-index 10000
	position relative

.ReactTable
	color $main-dark-color
