$select-black-color = alpha(#000, 70%)

.select-custom
	border-bottom 1px solid alpha(#fff, 20%)

	.Select-control
		background-color $select-black-color
		border none
		border-radius 0

	&.is-open
		.Select-control
			background-color $select-black-color

	&.is-disabled
		.Select-control
			background-color $select-black-color !important

			.Select-input
				color #000

	.Select-input
		color #fff


.in-development
	position relative
	height 360px
	display flex
	align-items center
	justify-content center

	&__text
		font-size 24px
		color $main-dark-color
		position absolute
		font-family RobotoCondensedBold
		top 10px
		left 10px
		z-index 1

	&__image
		size(289px, 301px)
		image-bg('in-development.png')
		margin 0 auto
		margin-bottom -60px
		filter grayscale(100%)
