.table
	margin-bottom 20px

	&__section-header
		font-size 18px
		font-family RobotoCondensedRegular
		padding 10px !important

	&__header
		font-family RobotoCondensedBold
		font-size 24px
		background-color $main-color
		color #fff

		@media screen and (max-width: 600px)
			text-align left
			padding 5px 10px !important

	&__cell
		white-space normal
		padding 10px

		&--service-title
			font-family RobotoCondensedRegular
			font-size 18px

		&--service-value
			line-height 0.85
			font-family RobotoCondensedRegular
			font-size 18px
			transition all ease .6s


.rt-tr.-even
	background-color alpha(#ECECEC, 31%)
	background-color alpha($main-color, 10%)
