mixin skill-modal--dry-cleaning()
	.modal-content
		button.remodal-close(data-remodal-action='close')
		h1 Зачем нужна химчистка?
		p Многие автовладельцы считают, что химчистку салона автомобиля нужно делать перед продажей авто, дабы придать обновленный вид салону, или, когда в салоне появляются пятна и посторонние неприятные запахи, которые не получается удалить самостоятельно. Это не совсем так, потому, что автомобиль загрязняется гораздо быстрее других вещей нашего обихода, не говоря уже про влияние ненастной погоды, когда всю грязь с улицы невольно приходится оставлять в салоне авто. Любители курить в автомобиле практически не замечают, что со временем потолок внутри автомобиля из белого превращается в серый, пластик покрывается желтым налетом и теряет свой блеск, а запах прокуренного салона замечает уже только пассажир. Причиной загрязнения потолка в салоне так же является кондиционер. И всем этим мы дышим каждый раз, садясь в свой автомобиль!Если химчистку делать только тогда,когда в автомобиле уже можно "Картошку сажать",то велика вероятность,что химчистка уже не поможет так как глубоко въевшаяся грязь может изменить окраску материалов отделки салона и салон уже никогда не будет выглядеть как новый. Поэтому для поддержания идеального состояния салона рекомендуется проводить химчистку хотя бы раз в год.
		p Нередко с проблемой запаха в салоне сталкиваются владельцы домашних животных, которых периодически перевозят в автомобиле, причем практически не замечают его, пока не начинают продавать, а шерсть, которую уже привыкли не замечать, сразу бросается в глаза новым покупателям. Молодые мамы, которым приходится кормить детей в автомобиле, могут проглядеть разлитое на сиденье молоко и потом долго искать причину неприятного запаха, списывая все на вентиляционную систему. Да и экологическая обстановка в мегаполисах оставляет желать лучшего и вся пыль, содержащаяся в воздухе, оседает в салоне на потолке, сидениях и ковролине.
		p Поэтому своевременная периодическая химчистка не только сбережет салон автомобиля в идеальном состоянии, но и поможет его в последствии выгодно продать новому покупателю, т.к. чистый и ухоженный салон всегда производит впечатление аккуратного автовладельца, вызывая большее доверие. Важно помнить, что для качественной химчистки необходимо профессиональное оборудование.
		br
		h2 Современные методы химчистки: "торнадо" вместо губки и пылесоса
		p Современные методы химчистки позволяют очистить салон лучше и быстрее, чем устаревшие способы, такие как губка и пылесос. В данной статье мы расскажем о современном способе химчистки автомобиля и его преимуществах по сравнению со старыми методами.
		br
		h2 Торнадор, или пневмохимчистка
		p Торнадор – универсальный чистящий пистолет для химчистки автомобиля. Используется для очищения любых поверхностей – ткани, кожи, пластика, резины. Сначала на загрязненную поверхность под давлением подается воздух и очищающий состав, который размягчает загрязнение. Затем подается только воздух. Он движется под давлением по спиральной траектории, создавая "эффект торнадо". Загрязнения выбиваются из поверхности и засасываются внутрь горловины устройства.
		h3 Преимущества торнадора:
		ol
			li Устройство позволяет очистить участки, которые практически невозможно качественно обработать другими методами. Например, резиновые уплотнители дверей, шильды, полозья сидений, дверные петли, места между сиденьями.
			li Покрытие после химчистки остается почти сухим, что предотвращает появление плесени и грибков.
			li Исключено провисание потолка и обивки, частое при неправильной чистке пылесосом.
			li Торнадор позволяет очистить поверхности, которые при чистке другими способами легко повредить. Например, светлую прострочку кожаных деталей салона.
			li В отличие от пылесоса, торандор хорошо очищает ворсовые покрытия, удаляя даже сильные загрязнения и шерсть животных.
		p Современные методы химчистки позволяют очистить салон автомобиля более качественно, с меньшими временными затратами и с минимальным риском для деликатных покрытий салона автомобиля.
		br
		button.remodal-cancel(data-remodal-action='cancel') Зыкрыть
