mixin skill-modal--body-wash()
	.modal-content
		button.remodal-close(data-remodal-action='close')
		h1 Как часто надо мыть машину?
		p Нет единого мнения о том, как часто надо мыть машину. Одни придерживаются мнения, что автомобиль необходимо содержать в идеальной чистоте. Другие, напротив, считают, что слой грязи защищает кузов от солей и песка. Где же истина?
		p Хотя идея о защитных свойствах грязи звучит привлекательно, все-таки это миф. Вместе с пылью и грязью на кузове авто оседают химически активные вещества. Особенно зимой, когда дороги активно посыпают реагентами. Агрессивные химикаты не идут на пользу ЛКП и кузовному железу. Вывод отсюда прост: мыть машину нужно регулярно, не допуская образования налета из грязи, соли и песка на кузове. Частота моек напрямую зависит от погоды, времени года и условий эксплуатации авто. Зимой и в межсезонье мойка требуется чаще, чем летом.
		p Если Вы много ездите в любую погоду, то можете заезжать на мойку хоть каждый день. Расходы на мойку окупятся в будущем: чистый кузов менее подвержен коррозии и дольше сохранит «товарный» вид. Именно так ухаживают за дорогим корпоративным автопарком: представительские седаны отправляются на мойку ежедневно. Если Вы ездите редко – тогда 1-2 моек в месяц может быть достаточно.
		h3 Как частые мойки влияют на ЛКП?
		p Некоторые автовладельцы стараются мыть машину как можно реже из опасения повредить краску. Это опасение оправдано в том случае, если мыть машину самостоятельно, вооружившись одним ведром воды и губкой. Частицы песка на грязной губке легко оставляют на верхнем слое эмали царапины, лишая кузов машины блеска. Поэтому специалисты не рекомендуют мыть автомобиль самостоятельно – гораздо лучше и быстрее эту работу сделают на автомойке. Современные автомойки предлагают мойку автомобиля при помощи бесконтактной химии. Активные моющие вещества расщепляют грязь, никаким образом не влияя на ЛКП. Такой вариант мойки защищает ЛКП от абразивного эффекта, неизбежного при контактной мойке.
		br
		h2 Можно ли мыть машину зимой?
		p Зимой автомобиль нуждается в мойке даже больше, чем в другое время года. Грязь и соль с зимних дорог забиваются в зазоры и щели, создавая благоприятные условия для образования коррозии. Да и вид покрытого грязью автомобиля не радует глаз. Поэтому мыть авто надо, но делать это нужно правильно, с учетом сезона.
		p Оптимально мыть машину, когда температура не ниже -10 градусов. Но что делать, если нужно помыть автомобиль, когда на улице – 25? Как мыть автомобиль зимой, чтобы не навредить ему?
		br
		h2 Правила зимней мойки автомобиля
		ol
			li Мыть автомобиль самостоятельно зимой не рекомендуется. Во-первых, трудно сделать воду подходящей температуры. Слишком прохладная вода замерзнет на кузове, а из-за горячей воды могут появиться трещины на ЛКП, стеклах и зеркалах (тепловой удар). Во-вторых, качественно смыть вручную засохшую зимнюю грязь с кузова сложно, и оставшиеся частицы песка и соли будут царапать и разъедать ЛКП. Поэтому зимой оптимальный вариант – автомойка.
			li При минусовой температуре откажитесь от экспресс-мойки (процедуры, когда машину моют, но насухо не вытирают). Обязательно закажите продувку автомобиля – эта недорогая процедура удалит воду с резиновых уплотнителей, из ручек, замков и других отверстий.
			li После мойки полезно делать защитную полировку кузова воском. После такой обработки на ЛКП меньше налипает грязь и соль.
			li Желательно промазать резиновые уплотнители смазкой на основе силикона или глицерина. Тогда они гарантированно не примерзнут и не будут трескаться.
			li Замки, петли и проемы дверей рекомендуется проливать средством типа WD-40.
			li Мыть автомобиль лучше перед поездкой (если только Вы не держите его в теплом гараже или паркинге). Так он лучше высохнет (за счет прогрева и естественного продува во время движения).
		br
		h2 Как часто можно мыть автомобиль зимой?
		p Частота моек зависит от того, сколько времени Вы проводите за рулем своего авто. Если Вы большую часть дня в разъездах, то и 2 мойки в неделю не будут лишними. Если Вы выезжаете редко, то достаточно будет 1-2 "водных процедур" в месяц. Регулярная мойка автомобиля защитит его от разрушающего воздействия дорожной грязи и реагентов. А вот оставлять на кузове слой из соли и подтаявшего снега не стоит - это прямой путь к коррозии.
		h3 Как продлить чистоту автомобиля?
		ul
		p Есть несколько способов продлить чистоту автомобиля. Рассмотрим самые эффективные методы.
		ol
			li Нанесение воска. Данный состав создает на ЛКП защитную пленку, с которой вода и грязь скатываются каплями, не оставляя разводов. Воск защищает не только от грязи, но и от коррозии.
			li Нанесение покрытия "Жидкое стекло". Этот состав формирует долговременное защитное покрытие, которое остается на кузове до года. Покрытое жидким стеклом ЛКП имеет очень гладкую поверхность, с которой легко скатывается вода и грязь. Дополнительное преимущество нанесения данного состава – красивый блеск кузова. Жидкое стекло наносится только на чистый кузов, поэтому если автомобиль был ранее покрыт воском, жидкое стекло наносить не нужно.
			li Нано покрытие. Такое покрытие делает ЛКП гладким, препятствуя его загрязнению. Также нано покрытие защищает ЛКП от воздействия реагентов и ультрафиолетовых лучей. ЛКП с нано покрытием значительно легче моется.
		br
		button.remodal-cancel(data-remodal-action='cancel') Закрыть
