mixin skill-modal--nano-wash()
	.modal-content
		button.remodal-close(data-remodal-action='close')
		h1 Наномойка
		p Благодаря стремительному развитию технологий мойка автомобилей осуществляется практически бесконтактным способом с помощью специального высокопроизводительного оборудования.
		p Одним из таких видов очистки транспортного средства от загрязнений является так называемая «наномойка».
		p Какие преимущества есть у нового метода и как часто его нужно использовать?
		p Нано-мойка представляет собой метод очистки кузова авто от загрязнений с применением специальных моющих средств. Ранее такая химия использовалась для шлифовки автомобилей и придания блеска лаку, однако со временем ей нашли применение в автомойках.
		p Специалисты утверждают, что она обеспечивает тщательную очистку поверхности кузова на молекулярном уровне, а также создает невидимый защитный барьер, который препятствует скоплению новых загрязнений.
		p Наномойка придает лакокрасочному покрытию блеск и даже маскирует небольшие царапины и потертости. эффект от наномойки может держаться в течении месяца.
		p Чтобы понять, каким образом достигается тщательная очистка кузова авто и его защита от загрязнений, необходимо разобраться в том, как именно осуществляется мойка наношампунем.
		h3 Она выполняется в три основных этапа:
		ul
			li Первичная бесконтактная мойка.
				p На данном этапе специалисты мойки, используя аппарат высокого давления, осуществляют первичную очистку авто от загрязнений. Такая работа осуществляется с применением бесщелочного шампуня, который равномерно наносится на все детали кузова и колеса транспортного средства. Бесконтактная мойка данного типа не оказывает отрицательного воздействия на состояние лакокрасочного покрытия и гарантирует отличное качество очистки авто при любой степени загрязнения.
			li Нанесение наношампуня.
				p После того, как полностью устранены самые сильные загрязнения, специалисты наносят на кузов автомобиля специальный шампунь, который содержит в своем составе наночастицы на основе зарядов-катионов. Попадая на поверхность лакокрасочного материала, частицы образуют прочную молекулярную сетку, защищающую кузов авто от внешних факторов.
				p Нанесенный в несколько слоев шампунь тщательно распределяется по кузову с помощью мягкой крупноячеистой губки. Таким образом, происходит не только очистка поверхности на молекулярном уровне, но и своего рода шлифовка лакокрасочного покрытия. После такой обработки мелкие царапины полностью исчезают, а цвет краски становится более глубоким и насыщенным.
			li «Консервация» лакокрасочного покрытия.
				p Последним этапом обработки кузова является нанесение на его поверхность специального бесцветного воска. Воск обеспечивает защиту образованной шампунем молекулярной сетки и даже улучшает ее действие. Стоит отметить, что такой воск наносится не только на кузов, но и на стекла автомобиля. Благодаря такой обработке поверхность стекла становится идеально гладкой, и вода на ней не задерживается, что улучшает видимость при передвижении в дождливую погоду.
		br
		h2 Основные преимущества мойки с применением наношампуня
		ol
			li Тщательная глубокая очистка автомобиля от загрязнений любой степени.
			li Эффект полировки кузова и сглаживание мелких царапин.
			li Создание невидимого защитного слоя, который препятствует скоплению загрязнений на кузове и стеклах авто.
			li
				a(href='http://autonewsmake.ru/kak-zashitit-kuzov-avtomobilya-ot-skolov-i-carapin.html', target='_blank', rel='nofollow')
					span Защита лакокрасочного покрытия
				|  от дорожной химии и ультрафиолета.
			li Создание идеально ровной поверхности с насыщенным цветом и блеском лакокрасочного покрытия.
			li Быстрый процесс обработки кузова авто.
			li Возможность использования воска для обработки стекол и оптики.
			li Долгосрочный защитный эффект (до одного месяца).
			br
		button.remodal-cancel(data-remodal-action='cancel') Закрыть
