mixin footer(menuElements, isMarginTop)
	- const baseClasses = ['footer'];
	- if (isMarginTop) {baseClasses.push('footer--with-margin-top')}
	div(class=`${baseClasses.join(' ')}`)
		.footer-part.footer-part--left
			nav.footer-nav
				each element, index in menuElements
					li(class=`footer-nav__element footer-nav__element--${index + 1}s`)
						a(href= element.level1.link).footer-nav__link= element.level1.name
			a(href="mailto:moyka.su@rambler.ru").footer-mail
				.footer-mail__icon
				.footer-mail__address moyka.su@rambler.ru
		.footer-part.footer-part--right
			a(href="./calculator-service.html#calculator-service").footer-go-calculator
				.footer-go-calculator__text
					| Калькулятор стоимости
					br
					| услуг
				.footer-go-calculator__icon
			.footer-time
				.footer-time__text Круглосуточно
				.footer-time__icon
			.footer-social
				a(href="http://vk.com").footer-social__icon.footer-social__icon--instagram
				a(href="https://vk.com/moyka_su").footer-social__icon.footer-social__icon--vk
			.footer-creator-info
				.footer-creator-info__text Сайт создан
				a(href="https://vk.com/aspiretocode").footer-creator-info__link @aspiretocode
			.footer-rights © 2017 Официальный сайт МОЙКА.su. Все права защищены.
