mixin footer(menuElements)
	.footer
		.footer-part.footer-part--left
			nav.footer-nav
				each element, index in menuElements
					li.footer-nav__element
						a(href="http://vk.com").footer-nav__link= element.level1
			.footer-telephone
				.footer-telephone__icon
				.footer-telephone__number +7-926-159-82-62
		.footer-part.footer-part--right
			a(href="http://vk.com").footer-go-calculator
				.footer-go-calculator__text
					| Калькулятор стоимости
					br
					| услуг
				.footer-go-calculator__icon
			.footer-time
				.footer-time__text Круглосуточно
				.footer-time__icon
			.footer-social
				a(href="http://vk.com").footer-social__icon.footer-social__icon--instagram
				a(href="http://vk.com").footer-social__icon.footer-social__icon--vk
			.footer-rights © 2017 Официальный сайт МОЙКА.su. Все права защищены.
			.footer-creator-info
				.footer-creator-info__text Сайт создан
				a(href="http://vk.com").footer-creator-info__link @aspiretocode
