mixin auto-types()
	- const autoTypes = ['Автомобили отечественные и малого класса', 'Автомобили среднего, бизнес класса', 'Автомобили представительского класса, малые внедорожники', 'Внедорожники', 'Микроавтобусы и ГАЗели ']
	.auto-types
		each type, index in autoTypes
			.auto-types__element= `Группа ${index + 1}. ${type}`
