include ../blocks/header/header
include ../blocks/footer/footer
- const {menuElements, title} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	+head()
	title= title
	body.page-404
		+header(name, menuElements)
		+footer(menuElements, true)
