include ../blocks/header/header
include ../blocks/footer/footer
include ./_in-development
- const {menuElements, title} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	title= title
	body.accumulations
		- const name = "Накопления"
		block content
		+header(name, menuElements)
		+in-development(name)
		+footer(menuElements, true)
