include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/section-calculator-service/section-calculator-service
- const {title, menuElements} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	title= title
	body.calculator-service-page
		block content
		+header("Цены", menuElements)
		+section-calculator-service()
		+footer(menuElements, false)
