include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/section-calculator-service/section-calculator-service
- const {title, menuElements} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	+head(
	title,
	`автомойка, калькулятор услуг, посчитать стоимость мойки, автомойка в москве,автомойка москва, автомойка мойка.su, автомойка на калужском шоссе, автомойка,мойка автомобиля, нано мойка, чистка салона автомобиля, полировка автомобиля, г.Москваг.Троицк Калужское шоссе д. 38, мойка машин, мойка автомобиля, мойка кузова,мойка двигателя, наномойка, нано мойка, полировка,полировка стекол, нанополировка, нано полировка, чистка салона, химчистка, химчистка автомобиля, предпродажная подготовка`
	)
	title= title
	body.calculator-service-page
		block content
		+header("Цены", menuElements)
		+section-calculator-service()
		+footer(menuElements, false)
