include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/section-contacts/section-contacts
- const {menuElements, title} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	+head(
	title,
	`автомойка, где мы находимся, карта, местоположение автомойки, часы работы автомойки, калькулятор услуг, автомойка в москве, автомойка мойка.su, автомойка на калужском шоссе, автомойка,мойка автомобиля, г.Москваг.Троицк Калужское шоссе д. 38, мойка машин, мойка автомобиля, `
	)
	title= title
	body.contacts-page
		- const name = "Контакты"
		block content
		+header(name, menuElements)
		+section-contacts()
		+footer(menuElements, false)
