include ../blocks/header/header
include ../blocks/section-skills/section-skills
include ../blocks/section-go-calculator/section-go-calculator
doctype html
html(lang='ru')
	include ./_head
	body
		block content
		+header("Услуги")
		+section-skills()
		+section-go-calculator()
