include ../blocks/header/header
include ../blocks/section-skills/section-skills
include ../blocks/section-go-calculator/section-go-calculator
include ../blocks/footer/footer
- const {menuElements, title} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	+head(
	'Круглосуточная мойка в Москве на калужском шоссе предлагает качественный сервис по выгодным ценам',
	'автомойка, автомойка в москве, автомойка москва, автомойка мойка.su, круглосуточная комплексная мойка кузова уборка салона автомойка мойка.su калужское шоссе'
	)
	title= title
	body.index-page
		block content
		+header("Услуги", menuElements)
		+section-skills()
		+section-go-calculator()
		+footer(menuElements, true)
