include ../blocks/header/header
include ../blocks/footer/footer
- const {title, menuElements} = htmlWebpackPlugin.options;
doctype html
html(lang='ru')
	include ./_head
	title= title
	body.calculator-service-page
		block content
		+header("Цены", menuElements)
		#calculator-service
		+footer(menuElements)
