.main-header
	font-family RObotoCondensedBold
	font-size 34px
	text-transform uppercase
	color $main-color
	border-bottom 3px solid $main-color
	line-height 1.15
	margin-bottom 20px
	display inline-block
	text-shadow 0px 3px 6px alpha(#000, 16%)

	@media screen and (max-width: 800px)
		font-size 29px

	@media screen and (max-width: 560px)
		font-size 24px
