include ../main-header/main-header
mixin section-calculator-service()
	.section-calculator-service
		+main-header("Калькулятор стоимости услуг")
		.section-calculator-service__advice Выберите марку и модель Вашего автомобиля из списка, чтобы рассчитать предварительную стоимость услуг.
		#calculator-service(href="#calculator-service")
