mixin header-nav(activePage, menuElements)
	.header-nav-overlay
	.header-nav-mobile
		a(href="./index.html").header-nav-mobile__logo
		.header-nav-mobile__burger
	nav.header-nav-wrapper
		ul.header-nav
			each firstMenu, index in menuElements
				- if (firstMenu.level2)
					li(class=`header-nav__element header-nav__element--${index+1}s header-nav__element--with-dot ${(activePage === firstMenu.level1.name) ? "header-nav__element--active-page" : ""}`)
						A(href= firstMenu.level1.link).header-nav__link= firstMenu.level1.name
						ul(class=`header-nav-dropdown header-nav-dropdown--${index + 1}s`)
							each secondMenu, index in firstMenu.level2
								li.header-nav-dropdown__element
									a(href= secondMenu.link).header-nav-dropdown__link= secondMenu.name
				- else
					li(class=`header-nav__element ${(activePage === firstMenu.level1.name) ? "header-nav__element--active-page" : ""}`)
						a(href= firstMenu.level1.link).header-nav__link= firstMenu.level1.name
