$fontFamily = "RobotoCondensedLight"

html, body
	height 100%
	-webkit-tap-highlight-color transparent

body
	font-size $fontSize
	line-height $lineHeight
	font-family $fontFamily
	color #fff
	visibility visible

a, a:hover, a:active
	text-decoration none
